<section>
  <div class="list-group">
    <a data-ng-repeat="submission in vm.submissions"
       data-ui-sref="submissions.view({ submissionId: submission._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="submission.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="submission.user" data-ng-bind="submission.user.displayName"></span>
        <span data-ng-if="!submission.user">Deleted User</span>
      </small>
      <small class="list-group-item-text">
        <br>
        Category:
        <span data-ng-bind="submission.categories"></span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="submission.title"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.submissions.$resolved && !vm.submissions.length">
    No Submissions yet, why don't you <a data-ui-sref="submissions.create">create one</a>?
  </div>
</section>
