<section ng-controller="HomeController">
  <!-- Header image -->
  <div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <div class="header-image"></div>
        <div class="carousel-caption">
          <h1>Placeholder 1</h1>
          <p>Placeholder 2</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div id="descContainer">
    <div align="center">
      <h2>What we do</h2>

      <p>dsjf lkfj ksjkdf sj dfkjslk dfjj salkdfj jsad fjas ldfjkajs dlkfjklsjdfklsdkfj sdlfj sdfj klasj dfjs dlfj asdf
        ds fjs dfkjklsdj fjlksadfk jlkasjd fjlaks dflkjas lkdjf  lasjdf lasjdfljsldf ljasldfjlka jsdflkj lkasjd fj.</p>
      <br>
    </div>

    <!--Three boxes with info-->
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h4>FIND</h4>
            <span class="glyphicon glyphicon-search" style="color: #01B99D" aria-hidden="true"></span>
            Find ideas, solutions and innovations to the problems around you. askdfjja sdfkj asdf asdf asd fasdf sadf
            dskfj kasjdf lkjasd klfkjaskdlfj kasd fkljas dkfjs adlfj alsdj flj asdlfj aslkdj flkjas dflj asdklfj lajsd
            f kasjdf lkjas dlfj lasdjflkj askdfj klasj dkfjal ksdjflkaj sdklfj laksdjfklj aslkdfj klajsd lkfj asdlf.
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h4>SHARE</h4>
            <span class="glyphicon glyphicon-cloud-upload" style="color: #F7C100" aria-hidden="true"></span>
            asdf sdfjasdf xvuifi soidfoasdfiouasd f asdf asjdfi asdof aiodsjf oasdfsa ojs dfas dfoija sdofj asdof asda
            kajsdkf kasjdf laksd fla sdlf alsdfj lasdj flkasj dfl jasldfj lasd flkas dflka sdf asdf asdflasjdf  as
            alksjdf aslkdf jalksd fjasd fjlkas dfl asdf kasdjfkh ijvoafio aifj aksdjfk asdfjikaj sdfojas dofj oas.
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h4>IMPROVE</h4>
            <span class="glyphicon glyphicon-edit" style="color: #EF5033" aria-hidden="true"></span>
            asdf sdfjasdf xvuifi soidfoasdfiouasd f asdf asjdfi asdof aiodsjf oasdfsa ojs dfas dfoija sdofj asdof asda
            kajsdkf kasjdf laksd fla sdlf alsdfj lasdj flkasj dfl jasldfj lasd flkas dflka sdf asdf asdflasjdf  as
            alksjdf aslkdf jalksd fjasd fjlkas dfl asdf kasdjfkh ijvoafio aifj aksdjfk asdfjikaj sdfojas dofj oas.
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer>&copy; Artesian Ideas 2016</footer>
</section>
